[submodule "src/modules/ng-openlayers"]
	path = src/modules/ng-openlayers
	url = git@github.com:gzileni/ng-openlayers.git
[submodule "src/modules/sentinel-agri"]
	path = src/modules/sentinel-agri
	url = git@github.com:gzileni/sentinel-agri.git
[submodule "src/modules/ng-sentinel"]
	path = src/modules/ng-sentinel
	url = git@github.com:gzileni/ng-sentinel.git
[submodule "src/modules/ng-sentinel-agri"]
	path = src/modules/ng-sentinel-agri
	url = git@github.com:gzileni/ng-sentinel-agri.git
